body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.header {
    position: relative;
    width: 100%;
}


.header-image {
    width: 1440px;
    height: 693px;
    display: block;
}


.logo {
    width: 343px;
    height: 328px;
    position: absolute;
    left: -12px;
    top: 0;
}

.search-bar {
    position: absolute; 
    top: 112px; 
    left: 800px; 
    right: 220px;
    transform: translateX(-50%); 
    width: 1009px; 
    height: 52px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF; 
    border: 1px solid #ccc; 
    
}
.search-input {
    width: 95%; 
    height: 80%; 
    padding: 5px 10px; 
    font-size: 18px;
    border: none; 
    outline: none; 
    background: transparent; 
}

.search-input::placeholder {
    color: #585757;; 
    font-style: italic; 
}

.nav {
    color: #000000;
    align-items: center;
    font-family: "Inter , sans-serif;-Regular", sans-serif;
    font-size: 22px;
    font-weight: 300;
    position: absolute;
    left: 320px;
    top: 201px;
    display: flex;
    gap: 9rem; 
  }
  
  .nav a {
    font-family: 'Inter' , sans-serif;;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
  }
  .nav a:hover {
    color: #c17c74;
}


.hero {
    position: relative; 
    height: 100%; 
    background: transparent; 
}


.hero-content {
    position: absolute; 
    left: 90px; 
    top: -240px; 
    width: 807px; 
}


.hero-content h1 {
    color: #EDE9E3; 
    font-size: 48px;
    font-family: 'Inter', sans-serif; 
    font-weight: 700;
    width: auto;
    margin: 0; 
    text-align: left; 
    line-height: 1.1; 
    white-space: nowrap; 
}


.hero-content p {
    color: #342614; 
    font-size: 24px; 
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
    width: 807px; 
    margin-top: 20px; 
    line-height: 1.6; 
    word-wrap: break-word; 
}
