* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
body {
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
  }
.header {
    position: relative;
    background-image: url('images/header\ 2.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 90vh;
    display: flex;
    flex-direction: column;
  
  }
  
.top-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: auto;
  
  }
  
.logo {
    width: 290px;
    height: auto;
    margin-top: 50px;
  }
  
  
.search-bar {
    flex: 1; 
    display: flex;
    align-items: center;
    margin-left: 20px; 
    position: relative;
  }
  
.search-bar .search-icon {
    position: absolute;
    left: 10px; 
    color: #888;
    font-size: 1.2rem;
  }
  
.search-bar input {
    width: 90%; 
    padding: 0.8rem 1rem 0.8rem 2.5rem; 
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
    outline: none;
  }
  
.search-toggle {
    display: none;
  }
  
  @media (max-width: 768px) {
  
    .search-bar {
      display: none;
    }
  
    .search-icon {
      display: block;
    }
  
    .search-toggle:checked + .search-icon + .search-bar {
      display: flex;
    }
  
    .search-bar input {
      width: 80%;
      max-width: 300px;
    }
  }
  
.nav {
    display: flex;
    position: relative;
    justify-content:space-evenly;
    font-size: 18px;
    margin-left: 180px; 
    font-size: 22px; 
    color: #000;
  }
  
.nav a {
    font-weight: 400;
    text-decoration: none;
    margin-top: -90px;
    color: #000000;
    transition: color 0.3s ease;
  }
  
.nav a:hover {
    color: #c17c74;
  }
  
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #000;
  }
  
.menu-toggle {
    display: none;
  }
  
  @media (max-width: 768px) {
    .nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 0;
      width: 100%;
      background-color: #fff;
      z-index: 10;
      padding: 1rem 0;
      border-top: 1px solid #ddd;
    }
  
    .nav a {
      padding: 1rem;
      text-align: center;
      font-size: 18px;
      text-decoration: none;
      color: #000;
      border-bottom: 1px solid #ddd;
    }
  
    .nav a:hover {
      background-color: #f4f4f4;
    }
  
    .hamburger {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 20;
    }
  
    .menu-toggle:checked + .hamburger + .nav {
      display: flex;
    }
  }
.hero-content {
    text-align: left; 
    align-items: flex-start; 
    justify-content: center; 
    padding-left: 60px;
    padding-top: 50px;
  }
  
.hero {
    position: relative;
    height: 693px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    color: #fff;
  }
  
  .hero h1 {
    font-size: 48px;   
  }
  
  .hero p {
    font-size: 16px;
    color: #342614;
  }

.vision-rectangle {
    width: 745px;
    height: 120px;
    background: #F6ECE4;
    border-radius: 199px;
    position: absolute;
    display: flex;
    top: 893px;
    left: -107px;
    right: 802px;
}
.vision-rectangleh2 {
    color: #AC8361;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 700 ;
    word-wrap: normal;
    position: absolute;
    left: 332px;
    right: 81px;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap
}

.vision-text {
    position: absolute;
    top: 1068px;
    left: 82px;
    right: 464px;
}
.vision-text p { 
    color: #000000;
    font-size: 29px;
    font-family:'Inter', sans-serif;
    font-weight: 400;
    line-height: 36.25px;
    word-spacing: normal;
    
}

.vision-image {
    position: absolute;
    top: 860px;
    left: 882px; 
}

.vision-image img {
    width: 484px;
    height: 537px;
    border-top-left-radius: 187px;
    border-top-right-radius: 286px;
    border-bottom-right-radius: 725px;
    border-bottom-left-radius: 256px;

}
.mission-image {
    position: absolute;
    top: 1465px; 
    right: 843px; 
    left: 113px;
    width: 484px;
    height: 536px;
}

.mission-image img {
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    border-top-left-radius: 386px;
    border-top-right-radius: 286px;
    border-bottom-right-radius: 725px;
    border-bottom-left-radius: 256px;
    object-fit: cover;
}

.rectangle {
    width: 745px;
    height: 120px;
    background: #F6ECE4;
    border-radius: 199px;
    position: absolute;
    display: flex;
    top: 1492px;
    left: 640px;
    right: -41px;
}
.rectangleh2 {
    color: #AC8361;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 700 ;
    word-wrap: normal;
    position: absolute;
    left: 132px;
    right: 280px;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap
}

.rectangle-text {
    position: absolute;
    top: 1648px;
    left: 720px;
    right: 74px;
    width: 646px;
    height: 372px;
}
.rectangle-text p { 
    color: #000000;
    font-size: 29px;
    font-family:'Inter', sans-serif;
    font-weight: 400;
    line-height: 36.25px;
    word-spacing: normal;
    word-wrap: break-word;
}
.offer-title {
    width: 578px; 
    height: 69px;
    position: absolute;
    top: 460px;
    left: -234px;
    text-align: center; 
    color: #AC8361; 
    font-size: 48px; 
    font-family: 'Inter', sans-serif; 
    font-weight: 700; 
    line-height: 69px; 
    white-space: nowrap; 
}
.proposons {
    position: absolute;
    top: 610px; 
    right: 650px; 
}

.proposons img {
    width:597px;
    height: 639px; 
   
}

.overlay-rectangle {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: rgba(254, 245, 242, 0.69);
    text-align: center;
}

.rond {
    width: 90%;
    text-align: center;
    
 
}

.rond .small-text {
    color: black;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 27.67px;
    margin-top: -10px;
    word-wrap: break-word;
  position: relative;
  top: -20px;
  left: 15px;
}

.rond .highlighted-text {
    color: #B9684F;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 41.50px;
    word-wrap: break-word;
}
.artistes img{
    width: 597px; 
    height: 639px; 
    top: 0px; 
    position: relative; 
    left: 0px ;

}
.artistes {
    position: absolute;
    top: 2256px;
    left: 810px;
}

.artistes img {
    width: 597px;
    height: 639px;
    position: relative;
}

.artistes-overlay {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: rgba(254, 245, 242, 0.69);
    text-align: center;
}

.artistes-rond {
    width: 90%;
    text-align: center;
}

.artistes-rond .artistes-small-text {
    color: black;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 27.67px;
    margin-top: -10px;
    word-wrap: break-word;
    position: relative;
    top: -20px;
    left: 15px;
}

.artistes-rond .artistes-highlighted-text {
    color: #B9684F;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 41.50px;
    word-wrap: break-word;
}

  